.GHTanNoi {
    border: 1px solid;
    width: 100%;
    display: flex;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.itemGHTanNoi1 {
    width: 70%;
}

.itemGHTanNoi2 {
    text-align: right;
    width: 30%;
}
.cacPhuongThucThanhToan{
    border: 1px solid;
    border-radius: 10px;
}
.containerPay {
    display: flex;
    flex-direction: column;
  }

  .itempay {
    padding: 2%;
    border: 1px solid gray;
    cursor: pointer;
  }

  .itempay:checked {
    background-color: yellow;

  }

  .hoanTatDonHang{
    margin: 3%;
    width: 90%;
    height: 40px;
    background-color: #1f1919;
    color: white;
    font-weight: bold;
   
 }
.hoanTatDonHang:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 10px 30px;
 display: inline-block;
 transition: all .2s;
 position: relative;

}

.hoanTatDonHang:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.hoanTatDonHang:active {
 transform: translateY(-3px);
}

.hoanTatDonHang::after {
 
 display: inline-block;
 height: 100%;
 width: 100%;
 
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.hoanTatDonHang:hover::after {
 background-color: rgb(0, 238, 255);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}
/* Custom radio thanh toán */
.radio-root {
  display: block;
  margin-bottom: 10px;
}

.radio-checked .MuiSvgIcon-root {
  fill: #000;
}

.radio-label {
  color: #000;
}
.ctnPTTT{
  padding: 1%;
}
.content {
  font-size: 16px;
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 10px;
  font-weight: bold;
}

