.GHTanNoi {
    border: 1px solid;
    width: 100%;
    display: flex;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.itemGHTanNoi1 {
    width: 70%;
}

.itemGHTanNoi2 {
    text-align: right;
    width: 30%;
}
.cacPhuongThucThanhToan{
    border: 1px solid;
    border-radius: 10px;
}
.containerPay {
    display: flex;
    flex-direction: column;
  }

  .itempay {
    padding: 2%;
    border: 1px solid gray;
    cursor: pointer;
  }

  .itempay:checked {
    background-color: yellow;

  }