
.containerCart{
	background-color: rgb(249, 246, 243);
	width: 100%;

	display: flex;
	padding: 5%;
	
}
.itemCart1{
	width: 50%;

	margin-left: 10%;
	margin-right: 5%;
	background-color: white;
}
.itemCart2{
	width: 24%;
	height: 100%;
	background-color: white;
}
.cntHeadCart{
	font-weight: bold;
	width: 100%;
	display: flex;
	text-align: center;
	border-bottom: 1px solid beige;
}
.itemHeadCart1{
	padding: 2%;
	margin-left: 17%;
	margin-right: 19%;
}
.itemHeadCart2{
	padding: 2%;
	margin-left: 2%;
}
.ctnDetailCart{
	width: 100%;
	display: flex;
	border-bottom: 1px solid beige;
}
.itemDetailCart1{
	width: 2%;
	margin: 2%;
	
}
.itemDetailCart2{
	width: 58%;
	margin: 2% 0% 2% 0%;
	display: flex;
	/* border: 1px solid yellow; */
}
.itemDetailCart3{
	width: 20%;
	margin: 2% 0% 2% 0%;
	/* border: 1px solid blue; */
	padding: 1%;
	font-size: 20px;
}
.itemDetailCart4{
	width: 20%;
	margin: 2% 0% 2% 0%;
	/* border: 1px solid blue; */
	padding: 2% 2% 0% 0%;
	text-align: right;
	font-size: 18px;

}
.imgItemDetailCart2{
	width: 50%;
	/* border: 1px solid; */
}
.textItemDetailCart2{
	width: 50%;
	/* border: 1px solid; */
	
}
.itemIMG{
	margin: 2%;
}

.congTruCart{
    width: 25%;
    /* height: 10px; */
    /* margin: 1%; */
    border: 1px solid black;
    background-color: white;
    text-align: center;
  }
  .textCongTruCart{
    border: none;
    font-size: 20px;
    width: 50%;
    text-align: center;

  }
  .divcongtruCart{
    /* margin-left: 2%; */
	width: 100%;
  }
  .thanhTienCart{
	padding: 4%;
	font-weight: bold;
	text-align: right;
	display: flex;
	width: 100%;
  }
  .itemThanhTienCart1{
		margin-top: 10%;
		width: 30%;
	
  }
  .itemThanhTienCart2{
	width: 70%;
	font-size: 30px;
	font-weight: normal;
	margin-top: 6%;
	
	
  }

  /* button thanh toán cart */
  .thanhToanCart{
    margin: 4%;
    width: 92%;
    height: 60px;
    background-color: #1f1919;
    color: white;
    font-weight: bold;
	margin-top: 5%;
   
 }
.thanhToanCart:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 10px 30px;
 display: inline-block;
 transition: all .2s;
 position: relative;

}

.thanhToanCart:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.thanhToanCart:active {
 transform: translateY(-3px);
}

.thanhToanCart::after {
 
 display: inline-block;
 height: 100%;
 width: 100%;
 
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.thanhToanCart:hover::after {
 background-color: rgb(0, 238, 255);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}
.tiepTucMuaSam{

	color: black;
	font-weight: 500;
	font-size: 17px;
	
}
.cnttiepTucMuaSam{
	margin: 3%;
	padding-left: 5%;
}
.deleteAllCart{
	background-color: white;
	font-weight: 500;
	margin-left: 30%;
}
